{% extends 'base.jinja' %}

{% block title %}About Us - Jinja Example{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">About Us</h1>
        <p class="lead">This is the about page content. We are a fantastic company doing amazing things!</p>
    </div>
{% endblock %}


