{% extends 'base.jinja' %}

{% block title %}Home - Jinja Example{% endblock %}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome to the Home Page, {{ username }}!</h1>
        <p class="lead">This is the home page content.</p>
    </div>
{% endblock %}

